<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Client: @Model["client"].GetName()</title>
    @using System.Collections.Generic;
  </head>
  <body>
    <h1>@Model["client"].GetName()</h1>
    <form class="form-group" action="/client/edit/success" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="client-id" value='@Model["client"].GetId()'>
      <label for="hair-color">Change Hair Color</label>
      @{List<string> haircolors = new List<string>{"Blonde", "Brunette", "Red", "Other"};}
      <select name="hair-color">
        @foreach(string haircolor in haircolors)
        {
          if(haircolor==Model["client"].GetHairColor())
          {
            <option selected="selected">@haircolor</option>
          }
          else
          {
            <option>@haircolor</option>
          }
        }
      </select>
      <label for="stylist-id">Change Stylist</label>
      <select name="stylist-id">
        @foreach(var individualStylist in Model["stylists"])
        {
          if(individualStylist.GetId()==Model["client"].GetStylistId())
          {
            <option selected="selected" value='@individualStylist.GetId()'> @individualStylist.GetName()</option>
          }
          else
          {
            <option value='@individualStylist.GetId()'>@individualStylist.GetName()</option>
          }
        }
      </select>
      <button type="submit" name="button">EditClient</button>
    </form>
  </body>
</html>
