<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
    <p>
      Hair Color: @Model.GetHairColor()
    </p>
    <p>
      Stylist ID: @Model.GetStylistId()
    </p>
    <a href="/client/edit/@Model.GetId()">Edit Client</a>
    <form action="/clients" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="client-id" value="@Model.GetId()">
      <button type="submit">Delete Client</button>
    </form>
  </body>
</html>
